body{
     font-family: 'Oswald', sans-serif;
     margin: 0%;
}
/* cabeçalho */
.Cabeçalho{
      background-image: url("./imagens/image_sp2.jpg"); 
      background-repeat: no-repeat;
      max-width: 100%;
      height: 100vh;
      max-height: 100vh;
      background-size: 100%;  
      margin: 0%;    
}
/*itens do cabeçalho*/
.navegador{
    max-width: 100%;
    height: 30%;
    text-align: center;
    padding: 10px;
}
     /*itens navegador*/
.Logo{
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 32%;
}

.Cabeçalho_item{
       color: rgb(238, 237, 237);
       float: left;
       width: auto;
       margin-right:20px ;
       margin-left:20px ;
       margin-top: 10px;
       text-align: center;
}

.main{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}
     /*item main*/
#Home{
    color:rgb(238, 237, 237) ;
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
}
/*todos os paragrafos*/
.paragrafo{
    color:rgb(238, 237, 237) ;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.paragrafo_main{
    color:rgb(238, 237, 237) ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/*section sobre*/
#Sobre{
    background-color: rgb(5, 5, 51);
    width: 100%;
    height: 50vh;
    background-size: 100%;  
       
}
/*todos os titulos*/
.Titulos{
    color:rgb(238, 237, 237) ;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}
    /*itens section sobre*/
.bloco1{
    border-width: 5px;
    border-color: rgb(15, 11, 11);
    border-style: solid;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: rgb(236, 13, 72);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pesquisa{
    float: right;
    color:rgb(238, 237, 237) ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/*section Video*/
#Vídeo{
    background-color: rgb(11, 11, 92);
    width: 100%;
    height: 55vh;
    background-size: 100%;  
}
    /*item section video*/
.video{
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 31%;
    border-width: 5px;
    border-color: rgb(15, 11, 11);
    border-style: solid;
}
/*section curiosidades*/
#Curiosidades{
    background-color: rgb(14, 14, 124);
    width: 100%;
    height: 180vh;
    background-size: 100%; 

}
    /*itens curiosidades*/
.imagem1{
    width:500px;
    height: 345px;
    float: left;
    margin-left: 50px;
    margin-top: 2px;
   
}

.bloco2{
    border-width: 5px;
    border-color: rgb(15, 11, 11);
    border-style: solid;
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 70px;
    background-color: rgb(236, 13, 72);
    text-align: center;
    height: 345px;
    padding-left: 10px;
    padding-right: 10px;
}



.subtitulo{
    color:rgb(238, 237, 237) ;
    margin: 0%;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 30px;
   
}

.bloco3{ 
    border-width: 5px;
    border-color: rgb(15, 11, 11);
    border-style: solid;
    margin-top: 20px;
    margin-right: 550px;
    margin-bottom: 70px;
    background-color: rgb(236, 13, 72);
    text-align: center;
    height: 345px;
    padding-left: 10px;
    padding-right: 10px;
}

.imagem2{
    width:500px;
    height: 350px;
    float: right;
    margin-right: 50px;
}

.imagem3{
    width:500px;
    height: 350px;
    float: left;
    margin-left: 50px;
}
/*section contato*/
#Contato{
    background-color: rgb(4, 4, 34);
    width: 100%;
    height: 40vh;
    background-size: 100%;
    justify-content: center; 
    align-items: center;
    

}
     /*itens contato*/
.contato_item{
    width: 40px;
    height: 40px;
    float: center;
 
}

.logo_footer1{
    width: 200px;
    height: 200px;
    float: center;
    margin-left: 450px; 
    margin-right: 50px; 
    margin-top: 20px;

}

.logo_footer2{
    width: 200px;
    height: 200px;
    float: center;
    margin-right:450px; 
    margin-left: 50px;

}



